<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <style>
        p {
            margin: 0px;
        }
    </style>
</head>

<body>

    <div id="app">
        <div class="d-flex flex-row" v-if="loaded">
            <div class="d-flex flex-column col-6">
                <p>{{state.turn}}</p>
                <p>{{state.turnid}}</p>
                <p>{{turnNow}}</p>

                <p>odd team</p>
                <p>Energies: G:{{getEnergyTotal('odd').g}} B:{{getEnergyTotal('odd').b}} R:{{getEnergyTotal('odd').r}} W:{{getEnergyTotal('odd').w}}</p>
                <p>Total: {{getEnergyTotal('odd').total}}</p>
                <button @click="target({id: 0, team: 'odd'})">{{state.odd.char[0].name}}</button>
                <p>{{state.odd.char[0].hp}}</p>
                <div v-if="state.turn % 2 === 1">
                    <div v-for="(skill, index) in getSkills('odd')">
                        <button @click="queueSkill({id: 0, team: 'odd', skill: index})" v-if="getSkillStatus(skill,'odd')">{{skill.name}}</button>
                        <p v-if="!getSkillStatus(skill, 'odd')">{{skill.name}} inactive</p>
                    </div>
                </div>


                <p>even team</p>
                <p>Energies: G:{{getEnergyTotal('even').g}} B:{{getEnergyTotal('even').b}} R:{{getEnergyTotal('even').r}} W:{{getEnergyTotal('even').w}}</p>
                <p>Total: {{getEnergyTotal('even').total}}</p>
                <button @click="target({id: 0, team: 'even'})">{{state.even.char[0].name}}</button>
                <p>{{state.even.char[0].hp}}</p>
                <div v-if="state.turn % 2 === 0">
                    <div v-for="(skill, index) in getSkills('even')">
                        <button @click="queueSkill({id: 0, team: 'even', skill: index})" v-if="getSkillStatus(skill,'even')">{{skill.name}}</button>
                        <p v-if="!getSkillStatus(skill, 'even')">{{skill.name}} inactive</p>
                    </div>
                </div>

                <div>
                    <p>Energy Exchange</p>
                    <p>Redeem: {{getRedeem().rd}}</p>
                    <p>G:
                        <button @click="setRedeem('g','add')">+</button>
                        <button @click="setRedeem('g','substract')">-</button>
                    </p>
                    <p>B:
                        <button @click="setRedeem('b','add')">+</button>
                        <button @click="setRedeem('b','substract')">-</button>
                    </p>
                    <p>R:
                        <button @click="setRedeem('r','add')">+</button>
                        <button @click="setRedeem('r','substract')">-</button>
                    </p>
                    <p>W:
                        <button @click="setRedeem('w','add')">+</button>
                        <button @click="setRedeem('w','substract')">-</button>
                    </p>
                </div>

                <div>
                    <button @click="endTurn">End Turn</button>
                </div>
            </div>
            <div class="d-flex flex-row col-6 flex-wrap">
                <p>General</p>
                <textarea style="height: 200px;">{{action}}</textarea>
                <p>Odd</p>
                <textarea style="height: 200px;">{{state.odd.char[0].status}}</textarea>
                <p>Even</p>
                <textarea style="height: 200px;">{{state.even.char[0].status}}</textarea>
            </div>
        </div>
    </div>
    <script src="naruto.js"></script>
    <script>
        function getParameterName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return "";
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        let player = getParameterName('player')
        console.log(player)

        let socket = io();

        var app = new Vue({
            el: '#app',
            data: {
                loaded: false,
                buffer: {
                    caster: {},
                    skill: null,
                    target: {},
                    turnid: ''
                },
                state: {},
                action: [],
                redeem: {
                    g: 0,
                    b: 0,
                    r: 0,
                    w: 0
                }
            },
            computed: {
                turnNow: function () {
                    return this.state.turn % 2 === 0 ? 'even turn' : 'odd turn'
                },
            },
            methods: {
                getEnergyTotal: function (team) {
                    // let team = this.state.turn % 2 === 0 ? 'even' : 'odd'
                    let energy = this.state[team].energy
                    let total = energy.g + energy.b + energy.r + energy.w

                    let skills = this.action.filter(x => x.turnid === this.state.turnid)
                    let cU = {
                        g: 0,
                        b: 0,
                        r: 0,
                        w: 0,
                        rd: 0
                    }
                    for (let skill of skills) {
                        console.log(skill)
                        let cost = this.state[skill.caster.team].char[skill.caster.char].skills[skill.skill].cost
                        // costUsing += cost.g + cost.b + cost.r + cost.w + cost.rd
                        cU.g += cost.g
                        cU.b += cost.b
                        cU.r += cost.r
                        cU.w += cost.w
                        cU.rd += cost.rd
                        console.log(cU)
                    }
                    console.log(skills)

                    let payload = {
                        g: energy.g - cU.g,
                        b: energy.b - cU.b,
                        r: energy.r - cU.r,
                        w: energy.w - cU.w,
                        total: total - (cU.g + cU.b + cU.r + cU.w + cU.rd)
                    }
                    console.log(payload)

                    return payload
                },
                getRedeem: function () {
                    let team = this.state.turn % 2 === 0 ? 'even' : 'odd'
                    let redeem = this.redeem
                    let total = redeem.g + redeem.b + redeem.r + redeem.w

                    let skills = this.action.filter(x => x.turnid === this.state.turnid)
                    let cU = {
                        rd: 0
                    }
                    for (let skill of skills) {
                        console.log(skill)
                        let cost = this.state[skill.caster.team].char[skill.caster.char].skills[skill.skill].cost
                        // costUsing += cost.g + cost.b + cost.r + cost.w + cost.rd                        
                        cU.rd += cost.rd
                        console.log(cU)
                    }
                    console.log(skills)

                    let payload = {
                        rd: cU.rd - total
                    }
                    console.log(payload)

                    return payload
                },
                setRedeem: function (energy, increment) {
                    if (increment === 'add') {
                        this.redeem[energy] += 1
                    } else {
                        this.redeem[energy] -= 1
                    }
                    console.log(this.redeem)
                },
                getSkillStatus: function (skill, team) {
                    if (!skill.isAllowed) {
                        return false
                    }

                    let energy = this.state[team].energy
                    let cost = skill.cost
                    let total = this.getEnergyTotal(team).total
                    let totalCost = cost.g + cost.b + cost.r + cost.w + cost.rd

                    if (cost.g > energy.g || cost.b > energy.b || cost.r > energy.r || cost.w > energy.w || totalCost > total) {
                        console.log(energy.g, cost.g)
                        return false
                    }

                    return true
                },
                getSkills: function (team) {
                    // console.log(this.state[team].char[0].skills)
                    return this.state[team].char[0].skills
                },
                endTurn: function () {
                    let self = this
                    let payload = {
                        state: this.state,
                        action: this.action,
                        redeem: this.redeem
                    }
                    socket.emit('battle', payload)
                },
                target: function (pkg) {
                    let buffer = {
                        caster: {
                            id: this.buffer.caster.char,
                            team: this.buffer.caster.team
                        },
                        skill: this.buffer.skill,
                        target: {
                            id: pkg.id,
                            team: pkg.team
                        },
                        turnid: this.buffer.turnid
                    }
                    this.action.unshift(buffer)
                },
                queueSkill: function (pkg) {
                    let buffer = {
                        caster: {
                            id: pkg.id,
                            team: pkg.team
                        },
                        skill: pkg.skill,
                        target: {},
                        turnid: this.state.turnid
                    }
                    this.buffer = buffer
                }
            }
        })

        socket.on('result', (res) => {
            console.log(res)
            let team = ''
            if (res.turn % 2 === 0) {
                team = 'even'
            }
            if (res.turn % 2 === 1) {
                team = 'odd'
            }
            console.log(team)
            // app.action = []
            app.redeem = {
                g: 0,
                b: 0,
                r: 0,
                w: 0
            }
            app.action = res[team].using
            app.state = res
        })

        socket.emit('initiate', {
            player: player
        })
        socket.on('initiate', (res) => {
            console.log(res)
            let team = ''
            if (res.state.turn % 2 === 0) {
                team = 'even'
            }
            if (res.state.turn % 2 === 1) {
                team = 'odd'
            }
            console.log(team)
            // console.log(res.state[team])
            app.action = res[team].using
            app.state = res.state
            app.loaded = true
        })
    </script>
</body>